* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-main: #268bc9;
  --clr-main-light: #b3caf5;
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.main-title {
  margin-top: 2rem;
}
.navbar {
  background-color: var(--clr-main);
}
.nav-link {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.btn {
  margin-left: 10px;
  padding: 8px 12px;
  color: white;
  background-color: var(--clr-main);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: var(--clr-main-light);
  color: black;
}
.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.navbar-cart {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.navbar-cart .cart-count {
  margin-left: 5px;
}
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}
.producto > div {
  padding: 1rem;
  background-color: var(--clr-main-light);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.producto > img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}
.producto .ver-mas,
.finalizarcompra {
  text-decoration: none;
  background-color: var(--clr-main);
  color: white;
  padding: 0.5rem;
  width: max-content;
  border-radius: 0.5rem;
  transition: 0.2s;
}
.producto .ver-mas:hover,
.finalizarcompra:hover {
  background-color: wheat;
  color: black;
}
.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.producto-detalle img {
  width: 100%;
}

.producto-detalle-info h3 {
  font-size: 2rem;
}
.categoria {
  font-size: 0.8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}
.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.item-count button,
.agregar-al-carrito,
.enviar {
  background-color: var(--clr-main);
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: 0.2s;
}
.item-count button:hover,
.agregar-al-carrito:hover,
.enviar:hover {
  background-color: white;
  color: black;
}
.agregar-al-carrito,
.enviar {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}
.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.formulario input {
  padding: 0.5rem;
  width: 18rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}
.formulario input:focus {
  outline: 0;
  border: 2px solid var(--clr-main);
  outline: 2px solid var(--clr-main);
}
button {
  background-color: var(--clr-main);
  color: white;
  padding: 0.2rem;
  transition: 0.2s;
}
.vaciar-carrito {
  border-color: red;
}
button:hover {
  background-color: wheat;
  color: black;
}
.letra {
  font-family: "Playpen Sans", cursive;
}
.btn-logout {
  margin-left: 10px;
  padding: 8px 12px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn-logout:hover {
  background-color: darkred;
  color: white;
}
